/.ipynb_checkpoints
/.virtual_documents
/kifu
to be replaced
logtest.py
.env
*.ps1
/use_kif
*.kif
/engine
/kif_sjis
/archive_notebook
/analyze_kif
/__pycache__
kif_data.json
/rating_data
*/__pycache__
*/datasets
/datasets